*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
}

h1{
    color:pink;
    font-family: 'Fredoka One', cursive;
}
.container{
    width: 70%;
    margin: 0 auto;
}
.color_text{
    color: white;
}
.row{
    margin-top: 50px; 
      
}
.col{
    background-color: black;
    margin-bottom: 60px;
    margin-left: 40px;
}
.contents{
padding: 2px;
}
.row .col{
    float: left;
    width: calc(100% / 3 - 50px);
}
img{
    float: left;
    width: 70px;
}
h3{
    font-family: 'Fredoka One', cursive;
}
a{
    text-decoration: none;
}

