*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
}
body{
    font-family: 'Fredoka One', cursive;
}
h1{
    color:pink;
}
.container{
    width: 70%;
    margin: 0 auto;
}
.color_text{
    color: white;
}
.row{
    margin-top: 50px; 
      
}
.col{
    background-color: black;
    margin-bottom: 10px;
    margin-left: 10px;
}

.row .col{
    float: left;
    width: calc(100% / 3 - 20px);
   
}
img{
    float: left;
}
